<!DOCTYPE html>
<!--CU There-->
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NTW7PC5');</script>
        <!-- End Google Tag Manager -->
		
        <script>
            window.onload = function() {
                var domain = sessionStorage.getItem("domain");
                var company = sessionStorage.getItem("company");
                if (domain != null && company !== null){
                    $('#domain').val(domain);
                    $('#company').val(company);
                }

                
            }
        </script>


	
    </head>
    
	<body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTW7PC5"
            height="0" width="0" style="display:none;visibility:hidden">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

            <div class="row" float = "left">
              <div class="col-sm">
                <form>
                    <input type="text" id="domain" name="domain" style=
                    "width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    font-family: 'Courier New', Courier, monospace;" placeholder="Domain"><br>
                    <input type="text" id="company" name="Company" style=
                    "width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    font-family: 'Courier New', Courier, monospace;" placeholder="Company"><br>
                </form>
                <button onclick="disable_button()"class="serve_notice" id="serve" style=
                "background-color: #505050;
                border-radius: 10px;
                border: none;
                color: white;
                padding: 10px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                font-family: 'Courier New', Courier, monospace;
                cursor: pointer;">Serve Notice</button><br>
                <button onclick="delete_cookies()" style=
                "background-color: #505050;
                border-radius: 10px;
                opacity: 100%;
                border: none;
                color: white;
                padding: 10px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                font-family: 'Courier New', Courier, monospace;
                cursor: pointer;">Delete cookie and reload</button><br>
                <button onclick="reload()" style=
                "background-color: #505050;
                border-radius: 10px;
                opacity: 100%;
                border: none;
                color: white;
                padding: 10px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                font-family: 'Courier New', Courier, monospace;
                cursor: pointer;">Reload</button><br>
                <div style="padding-top: 20px;">
                    <label for="auto_serve" style="color: black;font-weight: 500; font-family: 'Courier New', Courier, monospace;">Auto serves UCP notice upon refresh</label><br>
                    <input type="radio" name="auto_serve" value="show" id="auto_serve_enabled">
                    <label for="auto_serve" style="color: black;font-weight: 500; font-family: 'Courier New', Courier, monospace;">Enable</label>
                    <input type="radio" name="auto_serve" value="hide"checked="checked" id="auto_serve_disabled">
                    <label for="auto_serve" style="color: black;font-weight: 500; font-family: 'Courier New', Courier, monospace;">Disable</label>
                </div>
              </div>
              <div class="col-sm">
                <div style="padding: 10px;"><b>Categories</b></div>
                <div id="notice_info"></div>
                <div style="padding: 10px;"><b>Vendors</b></div>
                <div id="vendor_info"></div>
        
                
              </div>
              <div class="col-sm">
                <div id="log" ><b>Log</b></div>
              </div>
            </div>

        

        
        <span class="evidon-notice-link" style="float:left;"></span>
        <script>

            setTimeout(function(){
                if(document.getElementById('auto_serve_enabled').checked == true){
                console.log('auto serve')
                document.getElementById('serve').click()
                }
            },1000)
            
        </script>





	</body>
    <script>

        function reload(){
            location.reload()
        }

        function getCategories(){
            
            var notice_info = document.getElementById("notice_info");
            const log = document.getElementById("log");
            const pre = document.createElement('pre');
            var storedConsent;
                setTimeout(function(){
                    if(window.evidon.notice.activeDomain == null){
                        pre.appendChild(document.createTextNode('Notice not found\n'));
                        log.appendChild(pre);
                        return;
                    }
                    notice_info.innerHTML = ''
                    storedConsent = window.evidon.notice._getConsentedCategories();
                    var keys = Object.keys(window.evidon.notice.activecategorySet)
                    var categories = '';
                    for(var i = 0; i < keys.length; i++){
                        var row = document.createElement('div')
                        row.classList.add('row')
                        var category = document.createElement('div')
                        category.classList.add('col-sm')
                        category.style.fontFamily = 'Courier New'
                        var consent = document.createElement('div')
                        consent.classList.add('col-sm')
                        consent.style.fontFamily = 'Courier New'
                        consent.id = i
                        category.appendChild(document.createTextNode(keys[i]))
                        if(storedConsent == null){
                            consent.appendChild(document.createTextNode('false'))
                            consent.style.color = 'red'
                        }
                        else if(storedConsent == true){
                            consent.appendChild(document.createTextNode('true'))
                            consent.style.color = 'green'
                        }
                        else{
                            consent.appendChild(document.createTextNode(storedConsent[keys[i]]))
                            if(storedConsent[keys[i]] == true){consent.style.color = 'green'}
                            else {consent.style.color = 'red'}
                        }
                        row.appendChild(category)
                        row.appendChild(consent)
                        notice_info.appendChild(row)
                        notice_info.appendChild(document.createElement('hr'))
                    }   
                    var vendor_info = document.getElementById('vendor_info')
                    vendor_info.innerHTML = ''
                    var vendors = Object.keys(window.evidon.notice.vendorList)
                    for(var i = 0; i < vendors.length; i++){
                        var row = document.createElement('div')
                        row.classList.add('row')
                        var vendor = document.createElement('div')
                        vendor.classList.add('col-sm')
                        vendor.style.fontFamily = 'Courier New'
                        var consent = document.createElement('div')
                        consent.classList.add('col-sm')
                        consent.style.fontFamily = 'Courier New'
                        vendor.appendChild(document.createTextNode(window.evidon.notice.vendorList[vendors[i]]))
                        if(window.evidon.notice._getConsentedVendors()[vendors[i]] == true) {
                            consent.appendChild(document.createTextNode(window.evidon.notice._getConsentedVendors()[vendors[i]]))
                            consent.style.color = 'green'
                        }
                        else if(window.evidon.notice._getConsentedVendors()[vendors[i]] == false) {
                            consent.appendChild(document.createTextNode(window.evidon.notice._getConsentedVendors()[vendors[i]]))
                            consent.style.color = 'red'
                        }
                        row.appendChild(vendor)
                        row.appendChild(consent)
                        vendor_info.appendChild(row)
                        vendor_info.appendChild(document.createElement('hr'))
                    }
                    
                



                },100)
            



        }

        function disable_button(){
            document.getElementById('serve').disabled = true
            document.getElementById('serve').style.opacity = "0%"
            sessionStorage.setItem("domain", $('#domain').val());
            sessionStorage.setItem("company", $('#company').val());
            
        }

        function delete_cookies(){
            localStorage.clear()
            sessionStorage.setItem("domain", $('#domain').val());
            sessionStorage.setItem("company", $('#company').val());
            document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
            location.reload()
        }

        $(document).ready(function(){
            var radios = document.getElementsByName("auto_serve");
            var val = sessionStorage.getItem('auto_serve');
            for(var i=0;i<radios.length;i++){
                if(radios[i].value == val){
                radios[i].checked = true;
                }
            }
            $('input[name="auto_serve"]').on('change', function(){
                sessionStorage.setItem('auto_serve', $(this).val());
            
            });
        });

        

        
        
        var delayInMilliseconds = 500; //1 second

    

        
        

    </script>

</html>
